# 1. Create DS

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ishanjha100/student-passfail-data")

print("Path to dataset files:", path)

Downloading to C:\Users\user\.cache\kagglehub\datasets\ishanjha100\student-passfail-data\1.archive...

100%|██████████| 930/930 [00:00<00:00, 519kB/s]

Extracting files...
Path to dataset files: C:\Users\user\.cache\kagglehub\datasets\ishanjha100\student-passfail-data\versions\1

In [ ]:
import pandas as pd

# C:\Users\user\.cache\kagglehub\datasets\ishanjha100\student-passfail-data\versions\1

# Use the full path to your data file
file_path = "C:/Users/user/.cache/kagglehub/datasets/ishanjha100/student-passfail-data/versions/1/Pass-Fail Data.csv" 

# Read the data into a DataFrame
df_origin = pd.read_csv(file_path)

In [6]:
df_origin.head()

,student_id,attendance_pct,homework_pct,midterm_score,study_hours_per_week,pass
0,1,95,92,88,12,1
1,2,88,85,79,10,1
2,3,60,55,58,4,0
3,4,72,70,65,6,1
4,5,40,45,50,3,0

In [7]:
df = df_origin.copy()

In [8]:
df.describe

<bound method NDFrame.describe of     student_id  attendance_pct  homework_pct  midterm_score  \
0            1              95            92             88
1            2              88            85             79
2            3              60            55             58
3            4              72            70             65
4            5              40            45             50
..         ...             ...           ...            ...
95          96              89            92             94
96          97              79            77             75
97          98              55            56             58
98          99              91            90             88
99         100              52            50             53

    study_hours_per_week  pass
0                     12     1
1                     10     1
2                      4     0
3                      6     1
4                      3     0
..                   ...   ...
95                    14     1
96                     8     1
97                     5     0
98                    12     1
99                     4     0

[100 rows x 6 columns]>

## Create model

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score

In [12]:
X = df.drop('pass', axis=1)
y = df['pass']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

print(f"Accracy: {accuracy:.3f}")

Accracy: 1.000